._*
.clasp.json
.DS_Store
.env
.eslintcache
.yarn-integrity

*.code-workspace
*.log
*.xlr
*.xls
*.xlsx
*.lock

.cache
.cache/
.parcel-cache
dist
logs
node_modules/
npm-debug.log*
Thumbs.db
yarn-debug.log*
yarn-error.log*

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
node_modules
